BasedOnStyle: Google

ColumnLimit: 100

DerivePointerAlignment: false
PointerAlignment: Right

BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Preserve
